@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-serif: 'Kaisei Tokumin', serif;
}

@layer base {
  ::selection {
    background-color: #47a3f3;
    color: #fefefe;
  }

  html {
    min-width: 360px;
    overflow-y: scroll;
    font-size: 16px;
  }
}

@layer components {
  .prose a {
    @apply decoration-neutral-400! underline-offset-4 transition-all hover:text-neutral-400!;
  }

  .prose > :first-child {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
}
