---
import Sidebar from '../components/Sidebar.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout
  title="About | Maximilian Hagelstam"
  description="Developer based in Finland."
>
  <Sidebar />
  <main class="mt-6 flex min-w-0 flex-auto flex-col px-2 md:mt-0 md:px-0">
    <section>
      <h1 class="mb-8 font-serif text-3xl font-bold">About Me</h1>
      <div class="prose prose-neutral prose-invert my-5 text-neutral-200">
        <p>
          I'm a developer based in Finland. I enjoy reading, weightlifting, and
          hiking.
        </p>
      </div>
      <div class="prose prose-neutral prose-invert text-neutral-200">
        <p>
          I currently work on developer experience at{' '}
          <a
            href="https://www.f-secure.com"
            class="prose prose-neutral prose-invert text-neutral-200"
          >
            F-Secure
          </a>{' '}
          while studying Computer Engineering at{' '}
          <a
            href="https://www.abo.fi/en/study-subject/computer-engineering/"
            class="prose prose-neutral prose-invert text-neutral-200"
          >
            Åbo Akademi
          </a>.
        </p>
        <p>
          Previously, I worked on both product and infrastructure at{' '}
          <a
            href="https://www.smartum.fi"
            class="prose prose-neutral prose-invert text-neutral-200"
          >
            Smartum
          </a>.
        </p>
        <p>
          I primarily work with AWS, Terraform, and TypeScript, and occasionally
          with Python and Go.
        </p>
        <p>
          Topics that I find particularly intriguing include developer
          experience (DX), distributed systems, and open source.
        </p>
      </div>
    </section>
  </main>
</Layout>
