---
import Link from '../components/Link.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <article class="space-y-6 text-lg leading-relaxed">
    <h1 class="heading">Maximilian Hagelstam</h1>
    <p>Hello there! I'm Maximilian👋</p>
    <p>
      I'm a developer based in Finland. I enjoy reading, weightlifting, and
      hiking. I currently work on developer experience at
      <Link href="https://www.f-secure.com">F-Secure</Link> while studying Computer
      Engineering at <Link
        href="https://www.abo.fi/en/study-subject/computer-engineering/"
        >Åbo Akademi</Link
      >.
    </p>
    <p>
      Previously, I worked on both product and infrastructure at <Link
        href="https://www.smartum.fi">Smartum</Link
      >.
    </p>
    <p>
      I primarily work with AWS, Terraform, and TypeScript, and occasionally
      with Python and Go. Topics that I find particularly intriguing include
      developer experience (DX), distributed systems and open source.
    </p>
  </article>
</Layout>
