---
import ArrowIcon from '../icons/ArrowIcon.astro'
---

<footer class="container-base">
  <div class="flex gap-6 text-lg">
    <a
      href="https://github.com/hagelstam"
      target="_blank"
      rel="noopener noreferrer"
      class="nav-link flex items-center gap-2"
    >
      <span class="text-stone-300">
        <ArrowIcon />
      </span>
      <span>github</span>
    </a>
    <a
      href="https://linkedin.com/in/maximilian-hagelstam"
      target="_blank"
      rel="noopener noreferrer"
      class="nav-link flex items-center gap-2"
    >
      <span class="text-stone-300">
        <ArrowIcon />
      </span>
      <span>linkedin</span>
    </a>
  </div>
</footer>
