---
import ArrowIcon from '../icons/ArrowIcon.astro'
---

<footer class="mx-auto max-w-2xl px-6">
  <div class="flex gap-6">
    <a
      href="https://github.com/hagelstam"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-2 underline decoration-transparent underline-offset-4 transition-all duration-100 hover:text-white hover:decoration-current"
    >
      <span class="text-stone-300">
        <ArrowIcon />
      </span>
      <span>github</span>
    </a>
    <a
      href="https://linkedin.com/in/maximilian-hagelstam"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-2 underline decoration-transparent underline-offset-4 transition-all duration-100 hover:text-white hover:decoration-current"
    >
      <span class="text-stone-300">
        <ArrowIcon />
      </span>
      <span>linkedin</span>
    </a>
  </div>
</footer>
