---
import ArrowIcon from '../icons/ArrowIcon.astro'
---

<footer class="container-base pb-8 text-stone-200">
  <div class="flex gap-6 text-lg">
    <a
      href="https://github.com/hagelstam"
      target="_blank"
      rel="noopener noreferrer"
      class="nav-link flex items-center gap-2"
      aria-label="Visit my GitHub profile"
    >
      <ArrowIcon />
      <span>github</span>
    </a>
    <a
      href="https://linkedin.com/in/maximilian-hagelstam"
      target="_blank"
      rel="noopener noreferrer"
      class="nav-link flex items-center gap-2"
      aria-label="Visit my LinkedIn profile"
    >
      <ArrowIcon />
      <span>linkedin</span>
    </a>
  </div>
</footer>
