<header class="mx-auto max-w-2xl px-6 pt-8">
  <nav class="flex gap-6">
    <a
      href="/"
      class="underline decoration-transparent underline-offset-4 transition-all duration-100 hover:text-white hover:decoration-current"
    >
      /home
    </a>
    <a
      href="/"
      class="underline decoration-transparent underline-offset-4 transition-all duration-100 hover:text-white hover:decoration-current"
    >
      /notes
    </a>
  </nav>
</header>
