<header class="container-base pt-8 text-stone-200">
  <nav class="flex gap-6 text-lg">
    <a href="/" class="nav-link">/home</a>
    <a href="/notes" class="nav-link">/notes</a>
    <a href="/reading" class="nav-link">/reading</a>
  </nav>
</header>
